<%- include("partials/header.ejs") %>
  <br /><br />
  <form method="POST" action="/add/mypost">
    <label htmlFor="todo">Add a list</label>
    <input name="todo" type="text" placeholder="To do" />
    <input type="submit" value="Add me" />
  </form>
  <%- include("partials/footer.ejs") %>