<br /><br />
<form method="POST" action="/edit/mypost/<%= id %>">
  <label htmlFor="todo">Edit a list</label>
  <input name="editedTodo" type="text" placeholder="To do" value="<%= title %>" />
  <input type="submit" value="Update me" />
</form>