<%= title %>

  <form method="POST" action="/login/post">
    <label>Email</label>
    <input type="text" name="email" placeholder="Enter Email" />
    <br />
    <label>Password</label>
    <input type="text" name="password" placeholder="Enter Password" />
    <br />
    <input type="submit" value="Login me" />
  </form>